/* remove the tab bar - which only works, if the objects inside also are not visible */
#TabsToolbar,
#TabsToolbar .tabbrowser-tab,
#TabsToolbar .tabs-newtab-button,
#new-tab-button, #alltabs-button {
  visibility: collapse !important;
}

#TabsToolbar .titlebar-buttonbox-container {
    visibility: visible !important;
    margin-right: 90%;
    margin-top: 5px;
}

/* removing the sidebar, since I use Sidebery for that */
#sidebar-header {
  visibility: collapse !important;
}

/*-min max close  buttons size */
/* adapt size to your needs */
.titlebar-button>.toolbarbutton-icon {
	height: 17px !important;
	min-height: 17px !important;
	width: 17px !important;
	min-width: 17px !important;
}

/* spaces between buttons */
/*
.titlebar-button {
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-top: 10px !important;
}
*/

/* restyle the minimize button */
toolbarbutton.titlebar-button.titlebar-min {
     color: #e67e22 !important;
     visibility: visible !important;
     min-height: 20px;	
}

toolbarbutton.titlebar-button.titlebar-min:hover {
     color: black !important;
     background: #e67e22 !important;	
}

/* restyle the maximize button */
toolbarbutton.titlebar-button.titlebar-max,
toolbarbutton.titlebar-button.titlebar-restore {
     color: #9b59b6 !important;
     visibility: visible !important;
     
}

toolbarbutton.titlebar-button.titlebar-max:hover,
toolbarbutton.titlebar-button.titlebar-restore:hover {
     color: black !important;
     background: #9b59b6 !important;
}

/* restyle the close button */
toolbarbutton.titlebar-button.titlebar-close {
     color: #e74c3c !important;
     visibility: visible !important;
     	
}

toolbarbutton.titlebar-button.titlebar-close:hover {
     color: black !important;
     background: #e74c3c !important;
}

/* disable newtab-button*/
#tabs-newtab-button {
     display:none !important;
}
